<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- Product List (boucle sur la collection de produit) -->
                 <div *ngFor="let tempProduit of produits" class="col-md-3">
                    <div class="product-box">
                        <a routerLink="/products/{{ tempProduit.id }}">
                            <img src="{{ tempProduit.imageUrl }}" class="img-responsive" onerror="this.onerror=null;this.src='assets/images/placeholder.png';">
                        </a>
                        <a routerLink="/products/{{ tempProduit.id }}" style="text-decoration: none;">
                            <h1>{{ tempProduit.name }} </h1>
                        </a>
                        <div class="prix">
                            {{ tempProduit.unitPrice | currency: 'EUR' }}
                        </div>
                        <a href="#" class="primary-btn">Aujouter au panier</a>
                    </div>
                 </div>
                 <!-- Si la recherche ne renvoit rien : -->
                <div *ngIf="produits?.length == 0" class="alert alert-info col-md-12" role="alert">
                        <div class="alert alert-info">
                            Aucun produit trouvé
                </div>
            </div>

            <!-- Pagination -->
            <!-- begin footer -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="row">
                        <div class="col-md-9" style="padding-left: 65%; margin-bottom: -20%;">
                            <ngb-pagination [(page)] = "thePageNumber"
                                            [pageSize] = "thePageSize"
                                            [collectionSize] = "theTotalElements"
                                            [maxSize] = "5"
                                            [boundaryLinks] = "true"
                                            (pageChange) = "listProduit()">
                            </ngb-pagination>
                        </div>

                        <div class="col-md-3 mt-2" style="text-align: right; margin: auto; margin-left: 75%; padding-right: 20px;">
                            <span class="mr-2">Page Size </span>
                            <select #myPageSelect (change)="updatePageSize(myPageSelect.value)">
                                <option>2</option>
                                <option selected="true">5</option>
                                <option>10</option>
                                <option>20</option>
                                <option>50</option>
                            </select>
                        </div>

                    </div>
                </div>
                        
            </div>

            <!-- end footer -->

        </div>
    </div>
</div>