<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <!-- Product List (boucle sur la collection de produit) -->
                 <div *ngFor="let tempProduit of produits" class="col-md-3">
                    <div class="product-box">
                        <img src="{{ tempProduit.imageUrl }}" class="img-responsive" onerror="this.onerror=null;this.src='assets/images/placeholder.png';">
                        <h1>{{ tempProduit.name }} </h1>
                        <div class="prix">
                            {{ tempProduit.unitPrice | currency: 'EUR' }}
                        </div>
                        <a href="#" class="primary-btn">Aujouter au panier</a>
                    </div>
                 </div>
                 <!-- Si la recherche ne renvoit rien : -->
                <div *ngIf="produits?.length == 0" class="alert alert-info col-md-12" role="alert">
                        <div class="alert alert-info">
                            Aucun produit trouvé
                </div>
            </div>
        </div>
    </div>
</div>